/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html {
    min-height: 100%;
}

body {
    height: 100%;
}

body {
    @include headerIsFixed(false);
    font-family: 'HelveticaNeue-CondBold';
    font-size: 16px;
    color: color('primary');
}

a {
    color: color('primary');
    transition: all 0.15s ease-in;
    text-decoration: none;
    &:hover,
    &:focus {
        color: color('orange');
        transition: all 0.15s ease-in;
    }
}

a[href^="tel"] {
    color: color('secondary');
    text-decoration: none;
    &:hover,
    &:focus {
        color: color('orange');
        transition: all 0.15s ease-in;
    }
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.transition {
    transition: all 0.15s ease-in;
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend .clearfix;
}

.default-title {
    font-size: 42px;
    color: color('orange');
    text-transform: uppercase;
    &--small {
        font-size: 21px;
    }
    &--margin {
        margin-left: 50px;
        margin-bottom: 40px;
    }
}

.default-subtitle {
    font-size: 35px;
    color: color('primary');
    text-transform: uppercase;
}

.color-orange {
    color: color('orange');
}

.color-gray {
    color: color('primary');
    &--diff {
        color: color('gray');
    }
    &--light {
        color: color('light-gray');
    }
}


.default-input {
    border: 1px solid #B6B8BA;
    padding: 10px;
    font-size: 19px;
    color: color('light-gray');
    background-color: #fff;
    &::-webkit-input-placeholder {
        color: color('light-gray');
        font-size: 19px;
        text-align: center;
        font-family: 'HelveticaNeue-CondBold';
    }
    &::-moz-placeholder {
        color: color('light-gray');
        font-size: 19px;
        text-align: center;
        font-family: 'HelveticaNeue-CondBold';
    }
    &:-moz-placeholder {
        color: color('light-gray');
        font-size: 19px;
        text-align: center;
        font-family: 'HelveticaNeue-CondBold';
    }
    &:-ms-input-placeholder {
        color: color('light-gray');
        font-size: 19px;
        text-align: center;
        font-family: 'HelveticaNeue-CondBold';
    }
}

.default-btn {
    min-width: 150px;
    padding: 7px 10px;
    color: color('secondary');
    text-transform: uppercase;
    font-size: 26px;
    background-color: color('orange');
    text-decoration: none;
    display: inline-block;
    text-align: center;
    &:hover,
    &:focus {
        color: color('secondary');
    }
    &--gray {
        background-color: color('primary');
    }
    &--transparent {
        border: 1px solid #B6B8BA;
        background-color: transparent;
        color: color('light-gray');
        font-size: 19px;
        min-width: 120px;
        &:hover,
        &:focus {
            color: color('orange')
        }
    }
}




/*END:base*/