/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html,
body {
    height: 100%;
}

body {
    @include headerIsFixed(false);
    font-family: 'HelveticaNeue-CondBold';
    font-size: 16px;
    color: color('primary');
}

a {
    color: color('primary');
    transition: all 0.15s ease-in;
    &:hover,
    &:focus {
        color: color('orange');
        transition: all 0.15s ease-in;
    }
}

.wrapper {
    /*     display: table;
width: 100%;
height: 100%;
table-layout: fixed; */
}

.main {
    /*     display: table-row;
height: 100%;
height: 1px; */
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.transition {
    transition: all 0.15s ease-in;
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend .clearfix;
}

.default-title {
    font-size: 42px;
    color: color('orange');
    &--small {
        font-size: 21px;
        font-family: 'HelveticaNeue-CondReg';
    }
}

.default-subtitle {
    font-size: 35px;
    color: color('primary');
}

.color-orange {
    color: color('orange');
}

.color-gray {
    color: color('primary');
    &--diff {
        color: color('gray');
    }
    &--light {
        color: color('light-gray');
    }
}


.default-input {
    border: 1px solid #B6B8BA;
    padding: 10px;
    font-size: 19px;
    color: color('light-gray');
    background-color: #fff;
}

/*END:base*/