@import 'assets/settings';

/* .connect-links */

.connect-links {
	display: flex;
	.default-title {
		margin-bottom: 40px;
	}
}

.connect-link {
	display: block;
	width: 374px;
	height: 213px;
	text-decoration: none;
	margin-right: 20px;
}

.support-inner {
	display: flex;
}

.support-imgblock {
	background-color: #27267E;
	height: 100%;
	padding: 54px 20px;
	.site-description {
		font-size: 35px;
		span {
			&:nth-child(2) {
				color: color('secondary');
			}
		}
	}
	.connect-link {
		&:last-child {
			margin-right: 0;
		}
	}
}

/* END: .connect-links */