@import 'assets/settings';

.support-us {
    padding: 85px 0;
}

/* .support-links */

.support-links {
    display: flex;
    .default-title {
        margin-bottom: 40px;
    }
}

.support-link {
    display: block;
    width: 373px;
    height: 213px;
    text-decoration: none;
    margin-right: 20px;
}

.support-inner {
    display: flex;
    .support-link {
        &:nth-child(2) {
            margin-right: 0;
        }
    }
}

.support-imgblock {
    background-color: #27267E;
    height: 100%;
    padding: 54px 20px;
    .site-description {
        font-size: 35px;
        span {
            &:nth-child(2) {
                color: color('secondary');
            }
        }
    }
}

.shop {
    .support-link {
        img {
            display: block;
            border: 1px solid color('light-gray');
        }
    }
}

/* END: .support-links */

/* about */

.about {
    text-align: center;
    padding: 73px 0 96px;
    .default-title {
        margin-bottom: 35px;
    }
    .btns-block {
        margin-bottom: 60px;
        .default-input {
            margin-right: 5px;
            vertical-align: top;
            /* display: inline-block; */
        }
    }
    &-img {
        margin-bottom: 50px;
        img {
            display: block;
            width: 100%;
        }
    }
    .socials-list {
    	justify-content: center;
    }
    .socials__link svg {
        width: 48px;
        height: 48px;
    }
}


/* END: about */