/*footer*/

.site-footer {
    background-color: color('primary');
    padding: 65px 0 30px;
    .default-title {
        text-align: center;
        margin-bottom: 60px;
    }
}

.partners {
    &-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    &-item {
        min-width: 50px;
        width: 16%;
    }
}

.top-btn {
    width: 40px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 68px;
    background-color: transparent;
}

.footer-inner {
    text-align: center;
    color: color('secondary');
    .socials {
    	justify-content: center;
    	margin-bottom: 90px;
    }
}

.footer-contacts {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.footer-link {
    color: color('secondary');
    &--block {
        display: block;
        margin-bottom: 20px;
    }
}

.footer-bottom {
	&__text {
		margin-bottom: 25px;
		span {
			text-transform: uppercase;
		}
	}
}





/*END:footer*/