/*footer*/

.site-footer {
    background-color: color('primary');
    padding: 65px 0 30px;
    .default-title {
        text-align: center;
        margin-bottom: 60px;
    }
}

.partners {
    &-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    &-item {
        padding: 0 5px;
        &:first-child {
            flex-basis: 24%;
        }
        &:nth-child(2) {
            flex-basis: 16%;
        }
        &:nth-child(3) {
            flex-basis: 12%;
        }
        &:nth-child(4) {
            flex-basis: 12.5%;
        }
        &:nth-child(5) {
            flex-basis: 14.5%;
        }
        &:nth-child(6) {
            flex-basis: 13.5%;
        }
        &:last-child {
            flex-basis: 7.5%;
        }
    }
}

.top-btn {
    width: 40px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 68px;
    background-color: transparent;
}

.footer-inner {
    text-align: center;
    color: color('secondary');
    .socials {
        justify-content: center;
        margin-bottom: 90px;
    }
}

.footer-contacts {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.footer-link {
    color: color('secondary');
    &--block {
        display: block;
        margin-bottom: 20px;
    }
}

.footer-bottom {
    &__text {
        margin-bottom: 25px;
        span {
            text-transform: uppercase;
        }
    }
}






/*END:footer*/