/*footer*/

.site-footer {
    background-color: color('primary');
}

.partners {
    &-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    &-item {
    	min-width: 50px;
    	width: 16%;
    }
}



/*END:footer*/