@import '../settings';



/*header*/

.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 37px;
    align-items: flex-start;
    a {
        text-decoration: none;
    }
}

.site-description,
.header-logo,
.header-actions {
    padding-top: 10px;
}

.site-description {
    flex-basis: 25%;
    text-transform: uppercase;
}

.header-logo {
    flex-basis: 15%;
    &__link {
        display: block;
        img {
            display: block;
        }
    }
}

.season-links {
    flex-basis: 40%;
    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }
    &__item {
        text-align: center;
    }
}

.site-description {
    font-size: 29px;
}

.cart-block,
.donate-block {
    text-transform: uppercase;
}

.big-name {
    font-size: 82px;
    text-transform: uppercase;
}

.subname {
    font-size: 49px;
    text-transform: uppercase;
}

.socials {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    &-list {
        list-style: none;
        margin-bottom: 0;
        display: flex;
    }
    &-item {
        margin-right: 7px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: block;
        svg {
            width: 17px;
            height: 17px;
            .st0 {
                fill: #B5B6B8;
                @extend %default-transition;
            }
        }
        &:hover,
        &:focus {
            svg {
                .st0 {
                    fill: color('orange');
                    @extend %default-transition;
                }
            }
        }
    }
}

.search-btn {
    background-color: transparent;
    margin-left: 10px;
    svg {
        width: 19px;
        height: 19px;
        .st0 {
            fill: none;
            stroke: #B6B8BA;
            stroke-width: 2.389;
        }
    }
    &:hover,
    &:focus {
        svg {
            .st0 {
                stroke: color('orange');
            }
        }
    }
}

.search-block {
    position: relative;
    &.active {
        .search-line {
            display: block;
        }
    }
}

.search-line {
    position: absolute;
    bottom: -50px;
    right: 0;
    display: none;
    .default-input {
        width: 200px;
    }
}

.cart-block {
    color: color('light-gray');
    margin-bottom: 25px;
    &__link {
        color: color('light-gray');
        &:nth-child(2) {
            display: block;
        }
    }
}

.header-actions {
    flex-basis: 15%;
    text-transform: uppercase;
    text-align: right;
}

.donate-block {
    &__link {
        color: color('orange');
    }
}


/* .header-nav */

.header-nav {
    &__list {
        display: flex;
        list-style: none;
        width: 770px;
        margin: 0 auto;
    }
    &__item {
        &.active {
            .header-nav__link {
                color: color('orange');
            }
        }
    }
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 19px;
        display: block;
    }
}



/* END: .header-nav */

.toggle-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 9999;
    svg {
        fill: color('primary');
        @extend %default-transition;
    }
    &:hover,
    &:focus {
        svg {
            fill: color('orange');
            @extend %default-transition;
        }
    }
}




/*END:header*/